.sell {
  max-width: 100vw;
  margin: 18px 16px 100px;
}

.sell-title {
  font-size: 32px;
  color: var(--orange);
}

.sell-glasses {
  display: flex;
  justify-content: space-between;
  margin: 32px 0;
}

.glass-button {
  border: none;
  background-color: transparent;
  position: relative;
  color: var(--orange);
  padding: 8px 4px;
  border-radius: 8px;
}

.glass--selected {
  background-color: var(--orange);
  color: #fff;
  transform: scale(1.1);
  transition: all 300ms;
}

.glass-texts {
  font-weight: bold;
}

.sell-flavors,
.sell-acommpaniments,
.sell-whey,
.sell-combos {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  margin: 18px 0 32px;
}

.flavor-button,
.acommpaniment-button,
.whey-button,
.combo-button {
  border: none;
  background-color: transparent;
}

.flavor-img,
.topping-img,
.acommpaniment-img,
.whey-img,
.combo-img {
  border-radius: 12px;
  border: 3px solid transparent;
  height: 60px;
  width: 60px;
}

.flavor--selected,
.topping--selected,
.acommpaniment--selected,
.whey--selected,
.combo--selected {
  border: 3px solid var(--orange);
  transform: scale(1.1);
  transition: all 300ms;
}

.sell-topping {
  display: flex;
  justify-content: space-between;
  gap: 12px;
  margin: 18px 0 32px;
}

.topping-button {
  border: none;
  background-color: transparent;
}

.sell-buttons {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.button {
  font-size: 18px;
  padding: 14px;
  border-radius: 8px;
  border: none;
  background-color: var(--green);
  color: #fff;
  font-weight: bold;
}

.button--cancell {
  background-color: var(--red);
}
