.sell {
  max-width: 768px;
  margin: 100px 14px;
  margin: 100px auto;
}

.sell-title {
  font-size: 32px;
  color: var(--orange);
}

.sell-glasses {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin: 32px 0;
}

.glass-icon {
  position: relative;
}

.icon-quant {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
  font-weight: bold;
}
.icon-quant--selected {
  color: var(--orange);
}

.glass-button {
  border: none;
  background-color: transparent;
  position: relative;
  color: var(--orange);
  padding: 8px 4px;
  border-radius: 8px;
}

.glass--selected {
  background-color: var(--orange);
  color: #fff;
  transform: scale(1.1);
  transition: all 300ms;
}

.glass-texts {
  font-weight: bold;
}

.sell-flavors,
.sell-acommpaniments,
.sell-whey,
.sell-combos {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin: 18px 0 32px;
}

.sell-acommpaniments {
  gap: 42px;
}

.sell-combos {
  justify-content: space-between;
}

.sell-flavors {
  gap: 12px 0;
  justify-content: space-between;
}

.flavor-button,
.acommpaniment-button,
.whey-button,
.combo-button {
  border: none;
  background-color: transparent;
}

.flavor-img,
.topping-img,
.acommpaniment-img,
.whey-img,
.combo-img {
  border-radius: 12px;
  border: 3px solid transparent;
  height: 60px;
  width: 60px;
}

.flavor--selected,
.topping--selected,
.acommpaniment--selected,
.whey--selected,
.combo--selected {
  border: 3px solid var(--orange);
  transform: scale(1.1);
  transition: all 300ms;
}

.flavor-name,
.topping-name,
.acommpaniment-name,
.whey-name,
.combo-name {
  max-width: 80px;
  font-weight: bold;
  color: var(--orange);
}

.sell-topping {
  display: flex;
  justify-content: space-between;
  gap: 12px;
  margin: 18px 0 32px;
}

.topping-button {
  border: none;
  background-color: transparent;
}

.sell-buttons {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.buttons-delivery {
  display: flex;
  align-items: center;
  gap: 24px;
  margin-bottom: 16px;
}

.delivery-text {
  font-size: 32px;
  font-weight: bold;
  color: var(--orange);
  margin-bottom: 8px;
}

.delivery-box {
  transform: scale(1.2);
}

.buttons-glassQuant {
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: bold;
  font-size: 22px;
  margin-bottom: 16px;
}

.glassQuant-title {
  font-size: 32px;
  color: var(--orange);
  margin-right: 22px;
}

.glassQuant-button {
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  border: none;
  color: #fff;
  background-color: var(--orange);
}

.glassQuant-button--unvailable {
  background-color: #00000032;
}

.buttons-payment {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.payment-button,
.delivery-button {
  padding: 6px 10px;
  font-weight: bold;
  font-size: 16px;
  border-radius: 8px;
  background-color: transparent;
  border: 2px solid var(--orange);
  color: var(--orange);
  text-transform: uppercase;
}

.payment-button--selected,
.delivery-button--selected {
  background-color: var(--orange);
  border-color: var(--orange);
  color: #fff;
}

.button {
  font-size: 18px;
  padding: 14px;
  border-radius: 8px;
  border: none;
  background-color: var(--green);
  color: #fff;
  font-weight: bold;
}

.button--cancell {
  background-color: var(--red);
}

@media (max-width: 525px) {
  .sell {
    margin: 100px 14px;
  }
}
