.summary {
  max-width: 100vw;
  margin: 100px 14px;
}

.sumary-modal {
  position: fixed;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  background-color: #00000055;
  display: flex;
  justify-content: center;
  padding-top: 200px;
  z-index: 3;
}

.modal {
  height: 150px;
  width: 300px;
  padding: 32px 24px;
  background-color: #fff;
  text-align: center;
  border-radius: 12px;
}

.modal-text {
  font-size: 18px;
  color: var(--orange);
  font-weight: bold;
}

.modal-buttons {
  margin-top: 24px;
}

.modal-button {
  padding: 8px 32px;
  font-size: 16px;
  background-color: var(--red);
}

.modal-button:last-child {
  margin-left: 12px;
  background-color: var(--green);
}

.summary-title {
  width: 100%;
  text-align: center;
  margin-bottom: 24px;
  color: var(--orange);
}

.summary-title h2 {
  font-size: 32px;
}

.summary-bombamix {
  margin-bottom: 32px;
}

.summary-bombamix,
.summary-delivery {
  padding: 18px;
  width: 100%;
  border-radius: 12px;
  box-shadow: 0 0 2px #00000055;
}

.bombamix-title,
.delivery-title {
  text-align: center;
  margin-bottom: 12px;
  color: var(--orange);
  font-size: 20px;
}

.sales-item {
  display: flex;
  margin-bottom: 12px;
  color: var(--orange);
  font-weight: bold;
}

.item-quant {
  width: 55px;
}

.item-name {
  width: 150px;
}

.bombamix-name {
  width: 140px;
}

.item-payment {
  width: 90px;
}

.item-close {
  color: var(--red);
  border: none;
  background-color: transparent;
}

.sales-sum {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
}

.sales-sum-text {
  font-size: 18px;
  color: var(--green);
  font-weight: bold;
}

.summary-button {
  width: 100%;
  margin-top: 24px;
}

.summary-button button {
  width: 100%;
  padding: 12px;
  font-size: 18px;
  font-weight: bold;
  background-color: var(--green);
  color: #fff;
  border: none;
  border-radius: 8px;
}
