.wellcome {
  margin: 100px 16px;
}

.wellcome-title {
  color: var(--orange);
  font-size: 32px;
  text-align: center;
  margin-bottom: 12px;
}

.wellcome-desc {
  color: var(--orange);
  font-size: 14px;
  text-align: center;
}

.wellcome-form {
  margin-top: 100px;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 24px;
  border-radius: 12px;
  padding: 24px 0;
}

.form-item {
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 300px;
}

.form-item-label {
  color: var(--orange);
  font-weight: bold;
  font-size: 14px;
}

.form-item-text {
  border: none;
  border-bottom: 2px solid var(--orange);
  font-size: 18px;
}

.form-item-button {
  background-color: var(--orange);
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  padding: 10px;
  border-radius: 4px;
  border: none;
  width: 300px;
}
