.wellcome {
  margin: 100px 16px;
}

.wellcome-title {
  color: var(--orange);
  font-size: 42px;
  text-align: center;
  margin-bottom: 24px;
}

.wellcome-desc {
  color: var(--orange);
  font-size: 18px;
  text-align: center;
}

.wellcome-form {
  margin-top: 100px;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 32px;
  padding: 24px 0;
}

.form-item {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 500px;
}

.form-item-label {
  color: var(--orange);
  font-weight: bold;
  font-size: 14px;
}

.form-item-text {
  border: none;
  border-bottom: 2px solid var(--orange);
  font-size: 18px;
}

.form-item-button {
  background-color: var(--orange);
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  padding: 14px;
  border-radius: 4px;
  border: none;
  width: 500px;
}

@media (max-width: 525px) {
  .wellcome-title {
    font-size: 32px;
    margin-bottom: 12px;
  }

  .wellcome-desc {
    font-size: 14px;
  }
  .form {
    gap: 24px;
  }
  .form-item {
    gap: 4px;
    width: 300px;
  }
  .form-item-button {
    width: 300px;
    padding: 10px;
  }
}
