.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
  height: 70px;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #fff;
  z-index: 2;
}

.logo-img {
  height: 70px;
}

.logo-name {
  color: var(--orange);
  font-weight: bold;
  font-size: 18px;
}

.logo-button {
  color: var(--red);
  font-weight: bold;
  border: none;
  background-color: transparent;
  font-size: 16px;
}

.message {
  position: fixed;
  background-color: var(--green);
  color: #fff;
  width: 90%;
  left: 50%;
  transform: translatex(-50%);
  margin: 0 auto;
  padding: 12px;
  border-radius: 8px;
  top: 50px;
  z-index: 2;
  text-align: center;
  font-weight: bold;
}

.glass {
  color: var(--orange);
  position: relative;
}

.glass-empty {
  color: var(--red);
}

.glass-full {
  color: var(--green);
}

.glass-quant {
  position: absolute;
  color: #fff;
  bottom: 11px;
  font-size: 12px;
  left: 50%;
  transform: translateX(-50%);
  font-weight: bold;
}

@media (max-width: 768px) {
  .logo-img {
    height: 50px;
  }
}
