.inventory {
  margin: 100px 14px;
}

.addglass-title,
.updateGlass-title,
.combos-title {
  color: var(--orange);
  font-size: 32px;
  margin-bottom: 24px;
}

.inventory-addglass,
.inventory-combos {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 32px;
}

.inventory-addglass {
  align-items: flex-start;
  flex-direction: column;
}

.addGlass-sizes {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.sizes-button {
  color: var(--orange);
  font-weight: bold;
  padding: 4px;
  border-radius: 8px;
  border: 2px solid var(--orange);
  background-color: transparent;
  font-size: 16px;
}

.sizes-button--selected {
  background-color: var(--orange);
  color: #fff;
  border-color: var(--orange);
}

.add-input {
  width: 50px;
  margin-right: 12px;
  border-radius: 4px;
  border: 2px solid var(--orange);
  padding: 4px 2px;
  font-weight: bold;
  color: var(--orange);
}

.updateGlass-glasses {
  margin-bottom: 24px;
}

.glasses-desc,
.combos-desc {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
  color: var(--orange);
  font-weight: bold;
  font-size: 18px;
}

.glasses-glass-size,
.combos-combo-name {
  font-size: 18px;
  width: 78px;
}

.glasses-glass-price,
.combos-combo-price {
  width: 90px;
  font-size: 18px;
}

.glasses-glass,
.combos-combo {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 6px;
}

.newprice-input {
  width: 70px;
  border: 2px solid var(--orange);
  border-radius: 4px;
  margin-right: 4px;
  padding: 3px 4px;
}

.add-button,
.newprice-button-add,
.newprice-delete-button {
  color: #fff;
  background-color: var(--green);
  padding: 4px 6px;
  border-radius: 4px;
  border: none;
}

.newprice-delete {
  width: 60px;
  display: flex;
  justify-content: center;
}

.newprice-delete-button {
  background-color: var(--red);
}
